<div fxLayout="row wrap" fxLayoutAlign="start stretch" >
  <app-sub-head [name]="'User'"></app-sub-head>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" >
    <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start start" >
      <table class="table table-striped" >
        <tr>
          <th colspan="5">
            <div
              fxLayout="row wrap"
              fxLayoutAlign="start center"
              class="bg-inherit"
              style="background-color: inherit !important;"
            >
              <button mat-raised-button class="bg-green-300 text-indigo-600 me-2" (click)="upload.click()">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">
                    file_upload
                  </mat-icon>

                  Upload
                </div>
              </button>
              <button mat-raised-button class="bg-sky-400 text-white" (click)="handleDownload()">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">
                    file_download
                  </mat-icon>

                  Download
                </div>
              </button>
              <input
                hidden
                type="file"
                #upload
                (change)="handleFileInput($event)"
              />
            </div>
          </th>
        </tr>
        <tr>
          <th>No.</th>
          <th>Employee Code</th>
          <th>
            Name
          </th>
          <th>
            Auth Admin
          </th>
          <th>
            Auth User
          </th>

        </tr>
        <tr *ngFor="let user of users; let i = index">
          <td>
            {{ i + 1 }}
          </td>
          <td class="text-center">
            {{ user.employee_code }}
          </td>
          <td class="text-center">
            {{ user.name }}
          </td>
          <td class="text-center">
            {{ user.auth_admin }}
          </td>
          <td class="text-center">
            {{ user.auth_user }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
