<div fxLayout="row wrap" fxLayoutAlign="start start" >
  <app-sub-head [name]="'Manage Invoice'"></app-sub-head>
  <div
  fxFlex="100"
  fxLayout="row wrap"
  fxLayoutAlign="space-around start"
  class="layput-input mt-3"
>
<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
  <app-search-invoice (resultFilter)="handleSearch($event)"></app-search-invoice>
</div>
<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-3">

  <table fxFlex="50" mat-table [dataSource]="dataSource" matSort class="">
    <ng-container matColumnDef="no">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>No.</th>
      <td mat-cell *matCellDef="let element; let i = index">{{ i + 1 }}</td>
    </ng-container>
    <ng-container matColumnDef="employee_code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Employee</th>
      <td mat-cell *matCellDef="let element">
        {{ element.employee_code }}
      </td>
    </ng-container>
    <ng-container matColumnDef="invoice">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Invoice</th>
      <td mat-cell *matCellDef="let element">{{ element.invoice }}</td>
    </ng-container>
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let element">
        <span *ngIf=" element.status=='available' " class="text-green-600 capitalize">
          {{element.status}}
        </span>
        <span *ngIf=" element.status=='unavailable' " class="text-gray-600 capitalize">
          {{element.status}}
        </span>
      </td>
    </ng-container>
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef mat-sort-header></th>
      <td mat-cell *matCellDef="let element">
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <button *ngIf="element.status=='available' " [disabled]="handleValidDelete(element)" mat-raised-button class="bg-rose-400" (click)="handleDelete(element)">
            <mat-icon class="mat-18">
              delete
            </mat-icon>
          </button>
          <button *ngIf="element.status=='unavailable' "  mat-raised-button class="bg-green-400" (click)="handleDelete(element)">
            <mat-icon class="mat-18">
              done
            </mat-icon>
          </button>
        </div>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <!-- <table *ngIf="pkta && pkta.length>0">
    <tr>
      <th>
        No.
      </th>
      <th>
        Invoice
      </th>
      <th>
        Status
      </th>
      <th>
        Action
      </th>

    </tr>
    <tr *ngFor="let item of pkta; let i=index" class="font-bold">
      <td>
        {{i+1}}
      </td>
      <td>
        {{item['invoice']}}
      </td>
      <td>
        <span *ngIf=" item.status=='available' " class="text-green-600 capitalize">
          {{item.status}}
        </span>
        <span *ngIf=" item.status=='unavailable' " class="text-gray-600 capitalize">
          {{item.status}}
        </span>
      </td>
      <td>
        <div fxLayout="row wrap" fxLayoutAlign="center center">
          <button *ngIf="item.status=='available' " [disabled]="handleValidDelete(item)" mat-raised-button class="bg-rose-400" (click)="handleDelete(item)">
            <mat-icon class="mat-18">
              delete
            </mat-icon>
          </button>
          <button *ngIf="item.status=='unavailable' "  mat-raised-button class="bg-green-400" (click)="handleDelete(item)">
            <mat-icon class="mat-18">
              done
            </mat-icon>
          </button>
        </div>
      </td>

    </tr>
  </table> -->
  <p *ngIf="!pkta || pkta.length===0 ">
    No DATA PKTA
  </p>
  </div>
</div>
</div>
