<div fxLayout="row wrap" fxLayoutAlign="start stretch" >
  <app-sub-head [name]="'Model'"></app-sub-head>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center" class="mt-2 mb-2">
    <span class="me-2"> Key </span>
              <button mat-raised-button class="bg-green-300 text-indigo-600 me-2" (click)="upload.click()">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">
                    file_upload
                  </mat-icon>

                  Upload
                </div>
              </button>
              <button mat-raised-button class="bg-sky-400 text-white" (click)="handleDownload()">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">
                    file_download
                  </mat-icon>

                  Download
                </div>
              </button>
    <input hidden type="file" #upload (change)="handleFileInput($event)" />
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <div
      fxFlex="100"
      fxLayout="row wrap"
      fxLayoutAlign="start start"
      class="overflow-auto"
    >
      <table class="table table-striped">
        <tr>
          <th *ngFor="let col of displayColumn; let i = index">
            {{ col }}
          </th>
        </tr>
        <tr *ngFor="let item of model; let i = index">
          <td *ngFor="let col of displayColumn; let i = index">
            {{ item[col] }}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
