<div *ngIf="validateLogin()" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" >
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-toolbar>
      <mat-toolbar-row style="background-color: #9999ff;">
        <img src="./assets/new invoiceLOGO W.png" alt="" class="logo">
        <!-- <span class="fs-3 text-gray-900"> INVOICE LG </span> -->
        <span class="example-spacer"></span>
        <span class="text-gray-900 fs-6 font-bold">
          {{showUserLogin()}}
        </span>
        <button
          mat-icon-button
          class="example-icon text-gray-900"
          aria-label="Example icon-button with menu icon"
          (click)="handleLogout()"
        >
          <mat-icon>
            logout
          </mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row

        style="height: 30px; font-size: small;background-color: #e6ecff;"
      >
        <span class="ps-4 uppercase">
          {{ pageActive }}
        </span>
        <span class="example-spacer"></span>
        <!-- <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button> -->
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" style="height: 90vh;">
    <mat-drawer-container fxFlex="100" class="example-container m-2" autosize>
      <mat-drawer
        #drawer
        class="example-sidenav w-full"
        opened="true"
        mode="side"
        style="width: 300px"
      >
        <ng-container *ngFor="let side of sideBarsItems; let i = index">
          <ul class="m-1 p-3 font-bold uppercase">
            <div fxLayout="row wrap" fxLayoutAlign="start center" class=" p-2 rounded-md" style="background-color: #ccd9ff;">
              <mat-icon class="mat-18 me-2">
                {{side.icon}}
                </mat-icon>
              {{ side.title }}
            </div>
            <!-- <p class=" p-2 rounded-md" style="background-color: #ccd9ff;">

              {{ side.title }}</p> -->
            <li
              *ngFor="let sub of side.sub; let i = index"
              [ngClass]="{ active: sub.active }"
              class=" p-2 m-2 rounded-md uppercase"
              style="background-color: #e6ecff;"
              (click)="link(sub)"
            >
            <div fxLayout="row wrap" fxLayoutAlign="start center">
              <mat-icon class="mat-18 me-2">
                {{sub.icon}}
              </mat-icon>
              {{ sub.name }}
            </div>
            </li>
          </ul>
        </ng-container>
      </mat-drawer>
      <mat-drawer-content class="p-3 ps-4" style="min-height: 78vh">
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <!-- <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-toolbar>
      <mat-toolbar-row class="">
        <span>Footer</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div> -->
</div>

<app-login *ngIf="!validateLogin()"></app-login>

<ngx-ui-loader></ngx-ui-loader>
