<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-toolbar>
      <mat-toolbar-row class="bg-rose-300">
        <span> INVOICE LG </span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>

      <mat-toolbar-row
        class="bg-slate-400"
        style="height: 30px; font-size: small"
      >
        <span class="ps-4 uppercase">
          {{ pageActive }}
        </span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon favorite-icon"
          aria-label="Example icon-button with heart icon"
        >
          <mat-icon>favorite</mat-icon>
        </button>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with share icon"
        >
          <mat-icon>share</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-drawer-container fxFlex="100" class="example-container m-2" autosize>
      <mat-drawer
        #drawer
        class="example-sidenav w-full"
        opened="true"
        mode="side"
        style="width: 300px"
      >
        <ng-container *ngFor="let side of sideBarsItems; let i = index">
          <ul class="m-1 p-3 font-bold uppercase">
            <p class="bg-pink-300 p-2 rounded-md">{{ side.title }}</p>
            <li
              *ngFor="let sub of side.sub; let i = index"
              [ngClass]="{ active: sub.active }"
              class="bg-pink-500 p-2 m-2 rounded-md uppercase"
              (click)="link(sub)"
            >
              {{ sub.name }}
            </li>
          </ul>
        </ng-container>
      </mat-drawer>
      <mat-drawer-content class="p-3 ps-4" style="min-height: 78vh">
        <router-outlet></router-outlet>
      </mat-drawer-content>
    </mat-drawer-container>
  </div>
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
    <mat-toolbar>
      <mat-toolbar-row class="">
        <span>Footer</span>
        <span class="example-spacer"></span>
        <button
          mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>

<ngx-ui-loader></ngx-ui-loader>
