<div fxLayout="row wrap" fxLayoutAlign="start start">
  <app-sub-head [name]="'Accountee'"></app-sub-head>
  <div
    fxFlex="100"
    fxLayout="row wrap"
    fxLayoutAlign="start start"
    fxLayoutGap="10"
    class="layput-input"
  >
    <mat-form-field fxFlex="40" appearance="fill">
      <mat-label>Consignee Code</mat-label>
      <mat-select [(ngModel)]="code" (selectionChange)="handleChange()">
        <mat-option *ngFor="let code of codes" [value]="code">
          {{ code }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 1</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line1" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 2</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line2" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 3</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line3" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 4</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line4" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 5</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line5" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Accountee Line 6</mat-label>
      <input matInput [(ngModel)]="accounteeForm.line6" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Shipped From</mat-label>
      <input matInput [(ngModel)]="accounteeForm.shippedFrom" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>To</mat-label>
      <input matInput [(ngModel)]="accounteeForm.to" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Per</mat-label>
      <input matInput [(ngModel)]="accounteeForm.per" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Payment Item</mat-label>
      <input matInput [(ngModel)]="accounteeForm.paymentItem" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Freight</mat-label>
      <input matInput [(ngModel)]="accounteeForm.freight" />
    </mat-form-field>
    <mat-form-field fxFlex="40" class="example-full-width" appearance="fill">
      <mat-label>Contract Term</mat-label>
      <input matInput [(ngModel)]="accounteeForm.contractTerm" />
    </mat-form-field>
  </div>
  <mat-divider fxFlex="90" class="mt-4 mb-4"></mat-divider>

  <div fxFlex="80" fxLayout="row wrap" fxLayoutAlign="start start">
    <button mat-raised-button color="primary" (click)="handleSubmit()">
      Save
    </button>
  </div>
</div>
