<ng-container >
  <button  mat-raised-button class="me-3 bg-green-300 text-indigo-600" (click)="handleSave()">
    <mat-icon class="mat-18">
      save
    </mat-icon>
    Save
  </button>

</ng-container>
<ng-container >
  <div fxLayout="row wrap" fxLayoutAlign="start center" class="mt-4 mb-4 " >

    <mat-form-field class="me-5" appearance="legacy">
      <mat-label>Consignee Code</mat-label>
      <mat-select [(ngModel)]="consigneeCode" (ngModelChange)="handleChangeConsigneeCodeSelected()" class="bg-green-500">
        <mat-option *ngFor="let item of consigneeCodeOption" [value]="item['CONSIGNEE-CODE']">
          {{item['CONSIGNEE-CODE']}}
        </mat-option>
      </mat-select>
    </mat-form-field>

     <mat-form-field appearance="legacy" class="me-5 ">
      <mat-label>Sale Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="saleDate" [min]="minSaleDate" style="background: rgb(34 197 94)" (ngModelChange)="handleChangeSaleDate()">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field *ngFor="let item of form?.invoiceForm?.data let i=index" class="me-5" appearance="legacy">
      <mat-label>
        Typing : {{item['SO#']}}
      </mat-label>
      <input matInput [(ngModel)]="item.typing1" style="background: rgb(34 197 94)" >
    </mat-form-field>
    <mat-form-field  class="me-5" appearance="legacy">
      <mat-label>
        No. Sale
      </mat-label>
      <input matInput [(ngModel)]="form?.invoiceForm?.footer.typing1" style="background: rgb(34 197 94)" >
    </mat-form-field>


</div>

</ng-container>

<app-viewer-invoice *ngIf="form?.invoiceForm" [invoiceForm]="form.invoiceForm" [pageArr]="pageArr" [page]="page" [unitItem]="unitItem" ></app-viewer-invoice>


