<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center start" >
    <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start start">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <label for="uploadPKTA" class="me-2"> PKTA (.txt) </label>
        <input
          type="file"
          #uploadPKTA
          name="uploadPKTA"
          (change)="handleUploadPKTA($event)"
          accept=".txt"
        />
        <span class="text-blue-500 uppercase font-bold">
          total:
          {{ pkta.length }}
        </span>
      </div>

    </div>
    <div fxFlex="50" fxLayout="row wrap" fxLayoutAlign="start start">
      <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start center">
        <label for="uploadXLSX" class="me-2"> XLSX (.xlsx) </label>
        <input
        [disabled]="!pkta || pkta.length===0"
          type="file"
          #uploadXLSX
          name="uploadXLSX"
          (change)="handleUploadXLSX($event)"
          accept=".xlsx"
        />
        <span class="text-blue-500 uppercase font-bold">
          total:
          {{ packing.length }}
        </span>
      </div>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="center center">
      <button
        [disabled]="handleValidateSubmit()"
        mat-raised-button
        class="m-5 bg-green-300 text-indigo-600 w-1/4 uppercase"
        (click)="handleSubmit()"
      >
      <div fxLayout="row wrap" fxLayoutAlign="center center">
        <mat-icon class="mat-18">save</mat-icon>
        Submit
      </div>
    </button>
    </div>
    <div *ngIf="pkta.length>0" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
      <table>
        <tr>
          <th>
           No
          </th>
          <th>
            SO#
          </th>
          <th>
            Invoice
          </th>
          <th>
            Packing
          </th>
        </tr>
        <tr *ngFor="let item of pkta; let i=index">
          <td>
            {{i+1}}
          </td>
          <td>
            {{item['SO#']}}

          </td>
          <td>
            {{item['Delivery Note#']}}
          </td>
          <td>
            {{item.packing?.length}}
          </td>
        </tr>
      </table>
</div>
  </div>
</div>
