<div fxLayout="row wrap" fxLayoutAlign="start stretch">
  <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" >
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
      <app-search-invoice (resultFilter)="handleSearch($event)"></app-search-invoice>
    </div>
    <div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" class="mt-3">
      <table *ngIf="forms && forms.length>0">
        <tr>
          <th>
            No.
          </th>
          <th>
            Invoice
          </th>
          <!-- <th>
            import Date
          </th> -->
          <th>
            CreatedAt
          </th>

          <th>
            Invoice(PDF)
          </th>

          <th>
            Packing(PDF)
          </th>

        </tr>
        <tr *ngFor="let item of forms; let i=index" class="font-bold">
          <td>
            {{i+1}}
          </td>
          <td>
            {{item['invoice']}}
          </td>
          <!-- <td>
            {{item.createdAt |date:'dd-MMM-YYYY, HH:mm'}}
          </td> -->
          <td>
            {{item.createdAt |date:'dd-MMM-YYYY, HH:mm'}}
            <!-- <span *ngIf="item.invoiceForm.printDate">
              {{item.invoiceForm.printDate?.date |date:'dd-MMM-YYYY, HH:mm'}}
            </span> -->
          </td>
          <td>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10">
              <button *ngIf="!item.invoiceForm"  mat-raised-button class="bg-violet-500 text-white font-bold" (click)="handleInvoiceConfig(item)">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">print</mat-icon>
                  Config
                  </div>
              </button>

            <button *ngIf="item.invoiceForm && !handleValidReprint(item,'invoice')"  mat-raised-button class="bg-blue-600 text-white font-bold" (click)="handleInvoicePrint(item,'normal')">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="mat-18">print</mat-icon>
                Print
                </div>
            </button>
            <button *ngIf="item.invoiceForm && handleValidReprint(item,'invoice')" mat-raised-button class="bg-yellow-300  font-bold" (click)="handleInvoicePrint(item,'reprint')">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="mat-18">content_copy</mat-icon>
                Reprint {{htmlViewReprint('invoice',item)}}
              </div>
            </button>
            </div>
          </td>
          <td>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10">
              <button *ngIf="!item.packingForm"  mat-raised-button class="bg-violet-500 text-white font-bold" (click)="handlePackingConfig(item)">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">print</mat-icon>
                  Config
                  </div>
              </button>

            <button *ngIf="item.packingForm && !handleValidReprint(item,'packing')"  mat-raised-button class="bg-blue-600 text-white font-bold" (click)="handlePackingPrint(item,'normal')">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="mat-18">print</mat-icon>
                Print
                </div>
            </button>
            <button *ngIf="item.packingForm && handleValidReprint(item,'packing')" mat-raised-button class="bg-yellow-300  font-bold" (click)="handlePackingPrint(item,'reprint')">
              <div fxLayout="row wrap" fxLayoutAlign="center center">
                <mat-icon class="mat-18">content_copy</mat-icon>
                Reprint {{htmlViewReprint('invoice',item)}}
              </div>
            </button>
            </div>
          </td>

          <!-- <td>
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="10">
              <button   *ngIf="!handleValidReprint(item,'packing')"  mat-raised-button class="bg-blue-600 text-white font-bold" (click)="handlePackingPrint(item,'normal')">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">print</mat-icon>
                  Print
                  </div>
              </button>
              <button    *ngIf="handleValidReprint(item,'packing')"   mat-raised-button class="bg-yellow-300  font-bold" (click)="handlePackingPrint(item,'reprint')">
                <div fxLayout="row wrap" fxLayoutAlign="center center">
                  <mat-icon class="mat-18">content_copy</mat-icon>
                Reprint {{htmlViewReprint('packing',item)}}
                </div>
              </button>
            </div>
          </td> -->

        </tr>
      </table>
      <p *ngIf="!forms || forms.length===0 ">
        No DATA PKTA
      </p>
      </div>
  </div>
    </div>
